.special-link:hover {
    background-color: #f3f4f6;
    color: #111827;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    transition: 0.2s;
}

.zchowaj {
    /* display: none; */
    height: 0px;
    overflow: hidden;
    /* margin-top: -320px; */

    /* transform: height 0px;
    transition: ease 0.3s;*/

    /* transition: ease 1s; */
}

.pokaz {
    background-color: #ffffff;
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
    /* height: 400px; */
    /* transform: height 400px;
    /* transform: scale(1.5); */
    /* transition: ease 0.5s; */
}
.left {
    /*float :left;*/
    /*height: 100%;*/
    /*position: fixed;*/
    /*margin-top: -2%;*/
}
#right{
    margin-left: 21%;
    /*margin-top: 8%;*/
    /*margin-right: 1%;*/
    width: 78%;
}
#imagesearch{
    height: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#modal{
    /*height: 80%;*/
    /*margin-bottom: 5%;*/
    height: 80%;
    margin-top: 7%;
    margin-bottom: 2%;

}

.rela_img_checked{
    border:3px solid #1890FF
}
.img-group {
    position: relative;
    display: inline-block;
}

.img-tip {
    position: absolute;
    z-index: 1;
}
.img-tip-p{
    position: absolute;
    right: 0;
    color: #1890FF;
}
.group_check{
    position: absolute;
    right: 0;
}
.img-group:hover .img-tip {
    width: 100%;
}
